@page
@model GalleryModel
@{
    ViewData["Title"] = "Галерея";
}

<section class="gallery-hero">
    <div class="hero-content">
        <h1>Галерея</h1>
    </div>
</section>

<section class="gallery-grid">
    <div class="gallery-item"><img src="~/img/mainphoto.jpg" alt="Готель зображення 1"></div>
    <div class="gallery-item"><img src="~/img/mainphoto2.jpg" alt="Готель зображення 2"></div>
    <div class="gallery-item"><img src="~/img/photo1.jpg" alt="Готель зображення 3"></div>
    <div class="gallery-item"><img src="~/img/photo2.jpg" alt="Готель зображення 4"></div>
    <div class="gallery-item"><img src="~/img/photo3.jpg" alt="Готель зображення 5"></div>
    <div class="gallery-item"><img src="~/img/photo4.jpg" alt="Готель зображення 6"></div>
    <div class="gallery-item"><img src="~/img/photo5.jpg" alt="Готель зображення 7"></div>
    <div class="gallery-item"><img src="~/img/photo6.jpg" alt="Готель зображення 8"></div>
    <div class="gallery-item"><img src="~/img/photo7.jpg" alt="Готель зображення 9"></div>
    <div class="gallery-item"><img src="~/img/photo8.jpg" alt="Готель зображення 10"></div>
    <div class="gallery-item"><img src="~/img/photo9.jpg" alt="Готель зображення 11"></div>
    <div class="gallery-item"><img src="~/img/photo10.jpg" alt="Готель зображення 12"></div>
    <div class="gallery-item"><img src="~/img/photo11.jpg" alt="Готель зображення 13"></div>
    <div class="gallery-item"><img src="~/img/photo12.jpg" alt="Готель зображення 14"></div>
    <div class="gallery-item"><img src="~/img/photo13.jpg" alt="Готель зображення 15"></div>
    <div class="gallery-item"><img src="~/img/photo14.jpg" alt="Готель зображення 16"></div>
</section>